<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
    <title>FreeREI - Terms Of Service</title>
    <th:block th:replace="fragments/general :: css"></th:block>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra faucibus velit ut dictum. Pellentesque
        non ultricies purus, eget varius felis. Curabitur id metus in justo pharetra viverra. Sed ut commodo leo. Mauris
        hendrerit lacus at lectus feugiat, non scelerisque diam porttitor. Quisque tristique purus sed risus ultrices
        vestibulum. Aenean at rhoncus quam. Sed vitae euismod diam.
        <br/>
        Aenean tristique feugiat orci non porttitor. Donec eu metus accumsan, euismod tellus eu, dapibus enim.
        Suspendisse feugiat lacinia magna at placerat. Nunc placerat urna ex. Maecenas purus arcu, iaculis quis felis
        ac, laoreet
        interdum ligula. Maecenas varius arcu a feugiat auctor. Maecenas lacinia erat sit amet diam dapibus accumsan.
        Fusce dolor magna, auctor ac magna non, dapibus lobortis ligula. Nam id orci vehicula, pretium purus id, tempor
        orci.
        <br/>
        Aliquam erat volutpat. Donec venenatis neque vel ultricies semper. Vivamus et ipsum vitae risus hendrerit
        finibus. Pellentesque nec quam quis sem lacinia tristique ac at urna. Duis sed metus sed sem pharetra placerat.
        Cras
        in felis quam. Phasellus finibus ut mi a convallis. Morbi tincidunt efficitur arcu sit amet dictum. Fusce lacus
        urna, cursus id leo id, pellentesque euismod metus.
        <br/>
        Praesent ligula arcu, iaculis vitae lacinia consectetur, fermentum in sapien. Vivamus eu dui quis dolor
        hendrerit finibus a sit amet lacus. Nulla efficitur dictum venenatis. Proin non mauris vitae massa tincidunt
        pharetra
        nec non tellus. Etiam et commodo nibh. Sed dapibus facilisis fringilla. Maecenas sed sollicitudin mi. Curabitur
        in purus ipsum. Cras molestie erat sit amet mollis maximus. Ut vel hendrerit neque. Duis imperdiet porttitor est
        nec lacinia. Suspendisse nec ornare lectus, sit amet dapibus velit. Etiam suscipit gravida tempus. Aenean tellus
        orci, fermentum a convallis sit amet, porta a metus.
        <br/>
        Integer tristique commodo ipsum, et tempus turpis malesuada id. Donec ac odio eu magna semper dictum eget quis
        nulla. Etiam cursus, urna eu interdum viverra, nunc magna imperdiet urna, et molestie nisl diam id augue. Nullam
        ipsum ipsum, posuere molestie velit ac, scelerisque suscipit nulla. Aenean eu laoreet erat. Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec dictum fringilla lorem,
        quis
        blandit ipsum aliquam quis. Donec a gravida nisi. Nam aliquam mi in leo sodales laoreet. Aliquam erat volutpat.
        Duis scelerisque tristique velit et rhoncus.
    </p>
</div>
<div th:replace="fragments/footer :: footer"></div>
<th:block th:replace="fragments/general :: js"></th:block>
</body>
</html>