<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer-basic" th:fragment="footer">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a class="text-dark" th:href="@{/}">Calculators</a></li>
            <li class="list-inline-item text-dark"><a th:href="@{/terms}">Terms</a></li>
            <li class="list-inline-item"><a class="text-dark" th:href="@{/privacy}">Privacy Policy</a></li>
        </ul>
        <p class="text-black-50 copyright">We're open source! Check us out on&nbsp;&nbsp;<a
                href="https://github.com/ajo/freeREI-calculator">Github</a></p>
    </footer>
</div>
</html>