<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
    <title>FreeREI - Buy And Hold Calculator</title>
    <th:block th:replace="fragments/general :: css"></th:block>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container d-xl-flex justify-content-center align-items-center align-content-center">
    <form enctype="multipart/form-data" method="post" th:object="${purchaseInfo}">
        <div class="border">
            <div class="col">
                <div class="row">
                    <div class="col d-xl-flex justify-content-xl-center">
                        <h1>Purchase Info</h1>
                    </div>
                </div>
                <div class="row d-xl-flex justify-content-between" style="margin-bottom: 1vh;">
                    <div class="col-auto d-xl-flex"><label class="col-form-label" for="purchasePrice">Purchase
                        Price</label></div>
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                            <input class="form-control" id="purchasePrice" th:field="*{purchasePrice}" type="text"/>
                            <div class="input-group-append"></div>
                        </div>
                        <small class="form-text text-danger" th:errors="*{purchasePrice}"
                               th:if="${#fields.hasErrors('purchasePrice')}"></small>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 1vh;">
                    <div class="col-auto"><label class="col-form-label">Using Loan</label></div>
                    <div class="col-auto">
                        <div class="form-check" name="usingLoan">
                            <input class="form-check-input" id="usingLoan" name="usingLoan" th:field="*{usingLoan}"
                                   type="radio" value="true"/><label class="form-check-label"
                                                                         for="usingLoan">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="formCheck-3" name="usingLoan" th:field="*{usingLoan}"
                                   type="radio" value="false"/><label class="form-check-label"
                                                                          for="formCheck-3">No</label>
                        </div>
                        <small class="form-text text-danger" th:errors="*{usingLoan}"
                               th:if="${#fields.hasErrors('usingLoan')}"></small>
                    </div>
                </div>
                <div id="noLoanInfo">
                    <div class="row d-xl-flex justify-content-between" style="margin-bottom: 1vh;">
                        <div class="col-auto d-xl-flex"><label class="col-form-label" for="yearsHeld">Years Held</label></div>
                        <div class="col-auto">
                            <div class="input-group">
                                <input class="form-control" id="yearsHeld" th:field="*{yearsHeld}" type="text"/>
                                <div class="input-group-append"><span class="input-group-text">Years</span></div>
                            </div>
                            <small class="form-text text-danger" th:errors="*{yearsHeld}"
                                   th:if="${#fields.hasErrors('yearsHeld')}"></small>
                        </div>
                    </div>
                </div>
                <div id="loanInfo">
                    <div class="row d-xl-flex justify-content-between" style="margin-bottom: 1vh;">
                        <div class="col-auto d-xl-flex"><label class="col-form-label" for="downPayment">Down
                            Payment</label></div>
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                <input class="form-control" id="downPayment" th:field="*{downPayment}" type="text"/>
                                <div class="input-group-append"></div>
                            </div>
                            <small class="form-text text-danger" th:errors="*{downPayment}"
                                   th:if="${#fields.hasErrors('downPayment')}"></small>
                        </div>
                    </div>
                    <div class="row d-xl-flex justify-content-between" style="margin-bottom: 1vh;">
                        <div class="col-auto d-xl-flex"><label class="col-form-label" for="interestRate">Interest
                            Rate</label></div>
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-prepend"></div>
                                <input class="form-control" id="interestRate" th:field="*{interestRate}" type="text"/>
                                <div class="input-group-append"><span class="input-group-text">%</span></div>
                            </div>
                            <small class="form-text text-danger" th:errors="*{interestRate}"
                                   th:if="${#fields.hasErrors('interestRate')}"></small>
                        </div>
                    </div>
                    <div class="row d-xl-flex justify-content-between" style="margin-bottom: 1vh;">
                        <div class="col-auto d-xl-flex"><label class="col-form-label" for="loanTerm">Loan Term</label>
                        </div>
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-prepend"></div>
                                <input class="form-control" id="loanTerm" th:field="*{loanTerm}" type="text"/>
                                <div class="input-group-append"><span class="input-group-text">Years</span></div>
                            </div>
                            <small class="form-text text-danger" th:errors="*{loanTerm}"
                                   th:if="${#fields.hasErrors('loanTerm')}"></small>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 1vh;">
                    <div class="col-auto"><label class="col-form-label">Needs Repairs</label></div>
                    <div class="col-auto">
                        <div class="form-check" name="needsRepairs">
                            <input class="form-check-input" id="needsRepairs" name="needsRepairs" th:field="*{needsRepairs}"
                                   type="radio" value="true"/><label class="form-check-label" for="needsRepairs">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="formCheck-2" name="needsRepairs" th:field="*{needsRepairs}"
                                   type="radio" value="false"/><label class="form-check-label" for="formCheck-2">No</label>
                        </div>
                        <small class="form-text text-danger" th:errors="*{needsRepairs}"
                               th:if="${#fields.hasErrors('needsRepairs')}"></small>
                    </div>
                </div>
                <div id="repairInfo">
                    <div class="row d-xl-flex justify-content-between" style="margin-bottom: 1vh;">
                        <div class="col-auto d-xl-flex"><label class="col-form-label" for="repairCost">Repair
                            Cost</label></div>
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                <input class="form-control" id="repairCost" th:field="*{repairCost}" type="text"/>
                                <div class="input-group-append"></div>
                            </div>
                            <small class="form-text text-danger" th:errors="*{repairCost}"
                                   th:if="${#fields.hasErrors('repairCost')}"></small>
                        </div>
                    </div>
                    <div class="row d-xl-flex justify-content-between" style="margin-bottom: 1vh;">
                        <div class="col-auto d-xl-flex"><label class="col-form-label" for="afterRepairValue">After
                            Repair Value</label></div>
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                <input class="form-control" id="afterRepairValue" th:field="*{afterRepairValue}"
                                       type="text"/>
                                <div class="input-group-append"></div>
                            </div>
                            <small class="form-text text-danger" th:errors="*{afterRepairValue}"
                                   th:if="${#fields.hasErrors('afterRepairValue')}"></small>
                        </div>
                    </div>
                </div>
                <div class="row d-xl-flex">
                    <div class="col d-xl-flex justify-content-xl-center" style="margin-bottom: 1vh;">
                        <button class="btn btn-secondary" name="_eventId_general" type="submit">« Back</button>
                        <button class="btn btn-primary" name="_eventId_expense" type="submit">Next &raquo;</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
<th:block th:replace="fragments/general :: js"></th:block>
<script th:src="@{/js/purchaseInfo.js}"></script>
</body>
</html>
